html {
  background: url(../image/cake.png);
}

div#wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f8f3), to(#7b7bf1));
  background: linear-gradient(#f6f8f3, #7b7bf1);
  width: 60%;
  margin: auto;
}

div#wrap2 {
  background: url(../image/cupcake.jpg);
  width: 70%;
  margin: auto;
}

div#wrap3 {
  background: url(../image/Strawberryrosecake.jpg) transparent 20%;
  width: 60%;
  margin: auto;
  color: black;
}

div#wrap3 h1 {
  color: white;
}

div#wrap3 nav.horizontal li a {
  color: black;
}

ul.menu {
  display: block;
  text-align: center;
  list-style-type: none;
}

h1 {
  text-align: center;
  color: blueviolet;
}

h2 {
    text-align: center;
}

h1:hover {
  font-size: 40px;
  text-shadow: 5px 5px #141314;
}

div#divsubmit {
  -webkit-animation: headermove 25s linear;
          animation: headermove 25s linear;
}

@-webkit-keyframes headermove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes headermove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

h1 :hover {
  color: black;
}

figcaption {
  text-align: center;
}

img {
  height: 280px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

p {
  text-align: center;
  font: 25px;
  margin-left: 30%;
  margin-right: 30%;
}


table {
  background: #e6e0e0;
  border: 3px outset black;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

table th {
  background: whitesmoke;
  border: 1px solid black;
  padding: 2px;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

table caption {
  caption-side: bottom;
  text-align: right;
}

table thead {
  background: whitesmoke;
}

table tfoot {
  background: darkgray;
  color: whitesmoke;
}

form {
  border: 4px transparent;
  width: 48%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

form #submit {
  background: blueviolet;
  color: white;
}

form label#firstlabel {
  font-size: 30px;
  text-align: center;
}

form fieldset {
  border: none;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    padding: 1px;
}

footer {
  text-align: center;
  padding: 5%;
}

footer img {
  width: 45px;
  height: 45px;
}

/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {
  div#wrap3 nav.horizontal li a {
    color: white;
  }
  img {
    display: none;
  }
  figcaption {
    display: none;
  }
}

/* =================================
    Tablet styles: 481px and greater
    ================================
*/
@media only screen and (min-width: 481px) {
  div#wrap3 nav.horizontal li a {
    color: white;
  }
  table.schedule {
    width: 55%;
  }
}

/* ==================================
    Desktop styles: 769px and greater
    ================================
*/
@media only screen and (min-width: 769px) {
  div#wrap3 nav.horizontal li a {
    color: black;
  }
}